@use "../general/index" as *;

.about-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  .name {
    font-family: $nameFont;
    font-size: 48px;
    margin-top: 42px;
    margin-bottom: 28px;
  }
  .about {
    font-size: 18px;
    text-align: justify;
    width: auto;
    margin: 42px 42px;
    margin-bottom: 28px;
  }
  .studio-img {
    width: 293px;
  }
  .artist-img {
    width: 200px;
  }
}
