@use "../general/index" as *;

.about-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  .name {
    font-family: $nameFont;
    font-size: 48px;
    margin-top: 42px;
    margin-bottom: 28px;
  }
  .about {
    font-size: 18px;
    text-align: justify;
    width: auto;
    margin: 42px 42px;
    margin-bottom: 28px;
  }
  .studio-img {
    width: 293px;
  }
  .artist-img {
    width: 200px;
  }

  @media only screen and (min-width: 700px) {
    .studio-img {
      width: 600px;
      margin: 60px;
    }
    .artist-img {
      width: 500px;
      }
    .name {
      font-size: 70px;
      margin: 60px;
    }
  }

  @media only screen and (min-width: 1000px) {
    .studio-img {
      width: 950px;
    }
    .about {
      margin: 120px;
    }
  }
}
